<p>Commander {{firstName}},
</br>

$if(isStud isProf or)
<p>What is thy bidding, my master? There is a great disturbance in the Force.
  I have felt it. We have a new enemy - Luke Skywalker. Yes, my master. He could destroy us.
   He's just a boy. Obi-Wan can no longer help him. The Force is strong with him.
   The son of Skywalker must not become a Jedi. If he could be turned,
   he would become a powerful ally. Yes. Yes. He would be a great asset. Can it be done?
   He will join us or die, my master.</p>
$else
<p>This facility is crude, but it should be adequate to freeze Skywalker for his
  journey to the Emperor. Lord Vader, ship approaching. X-wing class. Good.
  Monitor Skywalker and allow him to land. Lord Vader, we only use this facility
  for carbon freezing. If you put him in there, it might kill him.
  I do not want the Emperor's prize damaged. We will test it...on Captain Solo.</p>
$endif

<p>Come to the dark side,
  {{userName}}</p>
